:root {
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.grid .col {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
